.body{
    height: 100%;
    padding: 50px 70px;
    background-color: #C9D7DD;
}
//start of home

.input-container {
    width: 100%;
    padding: 50px 100px;
    background-color: #E8C872;
 
  }
  .input-with-icon-container{
    position: relative;
    padding:0;
    margin:0;
    align-items: center; 
  }
  .search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:20px;
    width:30px;
    height:30px;
    cursor: pointer;
  }
  
  .input-with-icon {
    padding-left: 30px;  
    background-color: #FFF3CF;
    border-radius: 50px;
    border: none;
    color: #637A9F;
    padding: 20px 20px;
    height: 50px;
    color: #637A9F;
  }
  
  input {
    width: 100%; 
    box-sizing: border-box;
    padding: 10px; 
  }

  .modal-title{
    text-align: start;
    font-size: 64px;
    color: #FFF3CF;
  }

  .search-results-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #E8C872;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    border-radius: 10px;
    border: none;
    
  &::-webkit-scrollbar {
    width: 12px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: #637a9fb3; 
    border-radius: 6px; 
    &:hover {
      background-color: #637A9F; 
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #eee; 
    border-radius: 6px; 
  }
  }


  .close-icon{
    position: absolute;
    transform: translateY(-50%);
    right:10px;
    width:30px;
    height:30px;
    cursor: pointer;
  }

  .modal-container{
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    gap: 10px;
    background-color: #FFF3CF;
    border-radius: 10px;
    cursor: pointer;
  }

  .image-container{
    flex-basis: 20%;
    height: 150px;
  }
  .details-container{
display: flex;
    flex-basis: 70%;
    align-items: center;

  }

  .modal-image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .modal-details{
    text-align: justify;
    color: #637A9F;
    font-size: 24px;
  }


  .results{
    display: flex;
    flex-direction: row;
  }





.titlefeatured-recipes{
    text-align: center;
    font-size: 64px;
    color: #637A9F;
}
.recipe-sectionindex{
    display: flex;
    justify-content: space-around;
}
  
.recipe-containerindex {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    background-color: #FEFBF6;
    color: #637A9F;
    border: 1px solid #637A9F;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 30px; 
    cursor: pointer;
}

.recipe-imageindex {
    max-width: 100%;
    width: 500px;
    max-height: 100%;
    height: 300px;
    margin-top: 5px;
    border-radius: 3px;
  
}
  
.recipe-descriptionindex {
    font-size: 18px;
    text-align: justify;
    margin: 0px;
    padding: 10px 10px;
}
  
.recipe-nameindex {
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    text-align: left; 
}


//end of home

.AllRecipes-title{
    text-align: start;
    font-size: 64px;
    color: #637A9F;

}

.AllRecipes-description{
    font-size: 24px;
    color: #637A9F;
}

.AllRecipes-container{
    background-color: #C9D7DD;
    justify-content: center;
    align-items: center;
}

.recipe-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 350px; 
   
    gap: 30px;
    margin: 50px 0;
    background-color: #FEFBF6;
    color: #637A9F;
    border: 1px solid #637A9F;
    border-radius: 10px;
}
  
.left-column {
    order: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
  
.right-column {
    order: 2; 
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    justify-content: space-around;
    align-items: baseline;  
}
  
.recipe-container:nth-child(even) .left-column {
    order: 2;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
  
.recipe-container:nth-child(even) .right-column {
    order: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    justify-content: space-around;
    align-items: baseline;
}

.AllRecipes-image{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 3px;
}

.recipe-name{
    font-size: 36px;
}

.recipe-description{
    font-size: 18px;
    text-align: justify;
}

.recipe-button-container {
    margin-left: auto;
}

.recipe-button {
    font-size: 14px;
    padding: 10px 32px;
    border: none;
    border-radius: 3px;
    background-color: #E8C872;
    color: #637A9F;
    cursor: pointer;
}

  //end of All Recipes layout

//breakfast recipe layout


.breakfast-title{
    text-align: start;
    font-size: 64px;
    color: #637A9F;

}

.breakfast-description{
    font-size: 24px;
    color: #637A9F;
}

.breakfast-container{
    background-color: #C9D7DD;
    justify-content: center;
    align-items: center;
}

.recipe-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 350px; 
   
    gap: 30px;
    margin: 50px 0;
    background-color: #FEFBF6;
    color: #637A9F;
    border: 1px solid #637A9F;
    border-radius: 10px;
}
  
.left-column {
    order: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
  
.right-column {
    order: 2; 
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    justify-content: space-around;
    align-items: baseline;  
}
  
.recipe-container:nth-child(even) .left-column {
    order: 2;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
  
.recipe-container:nth-child(even) .right-column {
    order: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    justify-content: space-around;
    align-items: baseline;
}

.Breakfast-image{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 3px;
}

.recipe-name{
    font-size: 36px;
}

.recipe-description{
    font-size: 18px;
    text-align: justify;
}

.recipe-button{
    font-size: 14px;
    padding: 10px 32px;
    border: none;
    border-radius: 3px;
    background-color: #E8C872;
    color: #637A9F;
    align-self: end;
}

//end of breakfast recipe layout


//lunch recipe layout


.lunch-title{
    text-align: start;
    font-size: 64px;
    color: #637A9F;

}

.lunch-description{
    font-size: 24px;
    color: #637A9F;
}

.lunch-container{
    background-color: #C9D7DD;
    justify-content: center;
    align-items: center;
}

.recipe-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 350px; 
   
    gap: 30px;
    margin: 50px 0;
    background-color: #FEFBF6;
    color: #637A9F;
    border: 1px solid #637A9F;
    border-radius: 10px;
}
  
.left-column {
    order: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
  
.right-column {
    order: 2; 
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    justify-content: space-around;
    align-items: baseline;  
}
  
.recipe-container:nth-child(even) .left-column {
    order: 2;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
  
.recipe-container:nth-child(even) .right-column {
    order: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    justify-content: space-around;
    align-items: baseline;
}

.lunch-image{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 3px;
}

.lunch-name{
    font-size: 36px;
}

.recipe-button{
    font-size: 14px;
    padding: 10px 32px;
    border: none;
    border-radius: 3px;
    background-color: #E8C872;
    color: #637A9F;
    align-self: end;
}

//end of lunch layout


//dinner recipe layout

.dinner-title{
    text-align: start;
    font-size: 64px;
    color: #637A9F;

}

.dinner-description{
    font-size: 24px;
    color: #637A9F;
}

.dinner-container{
    background-color: #C9D7DD;
    justify-content: center;
    align-items: center;
}

.recipe-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 350px; 
   
    gap: 30px;
    margin: 50px 0;
    background-color: #FEFBF6;
    color: #637A9F;
    border: 1px solid #637A9F;
    border-radius: 10px;
}
  
.left-column {
    order: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
  
.right-column {
    order: 2; 
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    justify-content: space-around;
    align-items: baseline;  
}
  
.recipe-container:nth-child(even) .left-column {
    order: 2;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
  
.recipe-container:nth-child(even) .right-column {
    order: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    justify-content: space-around;
    align-items: baseline;
}

.dinner-image{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 3px;
}

.dinner-name{
    font-size: 36px;
}

.recipe-button{
    font-size: 14px;
    padding: 10px 32px;
    border: none;
    border-radius: 3px;
    background-color: #E8C872;
    color: #637A9F;
    align-self: end;
}

//Recipe Card Page 

.recipe-indiviual-container{
    padding: 50px 70px;
    background-color: #C9D7DD;
    color: #637A9F;
}
.given-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.other-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.individual-recipe-title{
    font-size: 64px; 
}

.individual-recipe-image {
    max-width: 100%;
    width:550px; 
    max-height:100%;
    height:530px; 
    border-radius: 3px;
  }


.individual-recipe-description {
    margin: 30px 100px;
    text-align: justify;
    font-size: 16px;
    color: #637A9F;
    margin-bottom: 20px;

  }
  
  .ingredients, .steps, .cooking-time, .serving-size,
  .classification, .nutrition-facts {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .list-ingredients, .list-nutrition-facts {
    padding: 0;
  }
  
  .bullet-list, .number-list {
    margin-bottom: 8px;
  }
  
  .cuisine-type, .origin-place {
    margin-bottom: 10px;
  }
  
  .nutrition-facts li {
    display: flex;
    justify-content: space-between;
  }
  
  .nutrition-facts li span {
    font-weight: bold;
  }


@media (max-width: 768px) {
    .body{
        height: 100%;
        padding: 50px 30px;
        background-color: #C9D7DD;
    }
    
    .titlefeatured-recipes{
        text-align: center;
        font-size: 60px;
        color: #637A9F;
    }
    .recipe-sectionindex{
        display: flex;
        justify-content: space-around;
    }
      
    .recipe-containerindex {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 30%;
        background-color: #FEFBF6;
        color: #637A9F;
        border: 1px solid #637A9F;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 40px;
        margin-bottom: 30px; 
    }
    
    .recipe-imageindex {
        max-width: 100%;
        width: 250px;
        max-height: 100%;
        height: 180px;
        margin-top: 5px;
        border-radius: 3px;
      
    }
      
    .recipe-descriptionindex {
        font-size: 14px;
        text-align: justify;
        margin: 0px;
        padding: 10px 10px;
    }
      
    .recipe-nameindex {
        top: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 10px;
        border-radius: 5px;
        font-size: 20px;
        text-align: left; 
    }
    
    //end of home

    .AllRecipes-title, .breakfast-title, .lunch-title, .dinner-title {
        font-size: 60px;
    }

    .AllRecipes-description, .breakfast-description, .lunch-description, .dinner-description {
        font-size: 20px;
    }

    .recipe-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-height: 350px; 
    
        gap: 30px;
        margin: 50px 0;
        background-color: #FEFBF6;
        color: #637A9F;
        border: 1px solid #637A9F;
        border-radius: 10px;
    }
    
    .left-column {
        order: 1;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
    }

    .right-column {
        order: 2; 
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        padding: 5px 30px;
        justify-content: space-around;
        align-items: baseline;
    }

    .recipe-container:nth-child(even) .left-column {
        order: 2;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
    }

    .recipe-container:nth-child(even) .right-column {
        order: 1;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        padding: 5px 30px;
        justify-content: space-around;
        align-items: baseline;
    }


    .AllRecipes-image, .Breakfast-image, .lunch-image, .dinner-image {
        max-width: 100%;
        max-height: 100%;
       height: 300px;
        border-radius: 3px;
    }

    .recipe-name {
        font-size: 30px;
    }

    .recipe-description {
        font-size: 15px;
    }

    .recipe-button{
        font-size: 14px;
        padding: 10px 25px;
        border: none;
        border-radius: 3px;
        background-color: #E8C872;
        color: #637A9F;
        align-self: end;
    }

    //Recipe Card Page 

.recipe-indiviual-container{
    padding: 50px 70px;
    background-color: #C9D7DD;
    color: #637A9F;
}
.given-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.other-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.individual-recipe-title{
    font-size: 60px; 
    margin-bottom: 20px;
}

.individual-recipe-image {
    max-width: 100%;
    width:600px; 
    max-height:100%;
    height:400px; 
    border-radius: 3px;
  }


.individual-recipe-description {
    margin: 30px 100px;
    text-align: justify;
    font-size: 16px;
    color: #637A9F;
    margin-bottom: 20px;

  }
  
  .ingredients, .steps, .cooking-time, .serving-size,
  .classification, .nutrition-facts {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .list-ingredients, .list-nutrition-facts {
    padding: 0;
  }
  
  .bullet-list, .number-list {
    margin-bottom: 8px;
  }
  
  .cuisine-type, .origin-place {
    margin-bottom: 10px;
  }
  
  .nutrition-facts li {
    display: flex;
    justify-content: space-between;
  }
  
  .nutrition-facts li span {
    font-weight: bold;
  }
    
    
}
    
  
@media (min-width: 320px) and (max-width: 600px) {
    .body {
        padding: 30px;
        margin: 0;
      }
    .recipe-description {
        font-size: 12px;
    }
    .recipe-name {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .AllRecipes-title,  .breakfast-title, .lunch-title, .dinner-title {
        font-size: 34px;
        margin-bottom: 8px;
      }
    .titlefeatured-recipes {
        font-size: 30px;
    }

    .recipe-sectionindex {
        flex-direction: column;
        align-items: center;
      }
      .recipe-descriptionindex {
        font-size: 15px;
      }
    
      .recipe-containerindex {
        max-width: 100%;
        margin: 20px 0;
      }
    
    
    .AllRecipes-description,  .breakfast-description, .lunch-description, .dinner-description{
        font-size: 13px;
        text-align: justify;
      }
    
      .recipe-container {
        flex-direction: column;
        max-height: none;
        margin: 30px 0;
      }
    
      .left-column,
      .right-column {
        flex-basis: 100%;
        padding: 0;
      }
    
      .left-column {
        order: 0;
      }
    
      .right-column {
        order: 0;
        margin: 10px;
      }
    
      .recipe-container:nth-child(even) .left-column,
      .recipe-container:nth-child(even) .right-column {
        order: 0;
        padding: 0;

      }
    
      .AllRecipes-image, .Breakfast-image, .lunch-image, .dinner-image {
        max-width: 100%;
        height: auto;
        border-radius: 3px;
    }
    
      .lunch-name {
        font-size: 10px;
      }
    
      .recipe-button {
        align-self: right;
        margin: 7px;
        font-size: 12px; 
        padding: 5px 15px;
      }

      /* recipe card */
.recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.individual-recipe-image {
    width: 100%;
    height: auto;
}

.individual-recipe-description {
    margin: 20px;
    font-size: 14px;
}

.ingredients,
.steps,
.cooking-time,
.serving-size,
.classification,
.nutrition-facts {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center; 
}

.classification {
    margin-bottom: 5px;
}

.other-details{
    align-items: center;
    text-align: start;
}

.bullet-list {
    margin-bottom: 4px;
    padding: 5px;
   
}

.number-list {
    text-align: justify;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 15px;
}

.nutrition-facts {
    margin-top: 25px;
}

.cuisine-type,
.origin-place {
    margin-bottom: 8px;
}

.nutrition-facts li span {
    font-weight: bold;
}

.recipe-button {
    align-self: center;
}

.recipe-indiviual-container {
    padding: 20px;
    text-align: center;
}

.individual-recipe-title {
    font-size: 28px;
    margin: 10px;
}

.individual-recipe-description {
    margin: 20px;
    font-size: 14px;
}

.input-container {
    padding: 50px 50px;

 
  }

  .search{
    width:20px;
    height:20px;
  }

  .search-results-modal{
    padding: 10px;
  }
  .modal-title{

    font-size: 24px;

  }

   .close-icon{
    width: 20px; 
    height: 20px;
    cursor: pointer;
    margin-left: 10px; 
  }

  .modal-container{
    display: flex;
    flex-direction: column;

  }

  .modal-details{
    margin: 10px 20px;
    font-size: 12px;
  }

  

}

